body {
	padding-top: 30px;
	max-width: 100%;
	font-size: 18px;
	background:#d5dbdb;
}

h1{
	padding-top: 0px;
}
img {
	width: 90%;
	height: 90%;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 auto;
	display: block;

}


.title {
	text-align: center;
}

.icon_links i:hover {
	color: red;
}
a:hover{
	text-decoration: none;
}

#experience {
	height: 380px;
	overflow: scroll;
}

.ref{
	margin-bottom: 10px;
}
#ref_name_1, #ref_name_2, h1{
	font-weight: bold;
}

#ref_1, #ref_2 {
	margin: 1px;
	word-wrap: break-word;
}

/*#ref_2 {
	padding-left: 15px;
}*/
.list-group {
	padding-top: 106px;

}
.list-group-item.clicked, .list-group-item.clicked:focus, .list-group-item.clicked:hover {
color: white;
background:black;
}

.ref.col-xs-5 {
	padding: 2px;
}

.details {
	margin-left: 35px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.divider {
    width:5px;
    display:inline-block;
}

.col-xs-8 {
	background:lightgrey;
	border-radius: 5px;
}

h1, h4 {
	font-weight: bold;
}

@media only screen and (max-device-width: 768px) {
	body{
		padding-top: 2px;
	}
	.list-group {
		padding-top: 5px;
	}
	img{
		max-width: 290px;
		max-height: 389px;
	}
}
@media only screen and (max-device-width: 411px) {
	body{
		padding-top: 2px;
	}
	.list-group {
		padding-top: 5px;
	}
	img{
		max-width: 251px;
		max-height: 335px;
	}
}
@media only screen and (max-device-width: 320px) {
	body{
		padding-top: 2px;
	}
	.list-group {
		padding-top: 5px;
	}
	img{
		max-width: 201px;
		max-height: 268px;
	}
}
