body {
	max-width: 100%;
	font-size: 18px;
	background:#d5dbdb;
}


img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 4px;

}

#ref_name_1, #ref_name_2 {
	font-weight: bold;
}

#ref_2 {
	padding-left: 15px;
}

.list-group-item.clicked, .list-group-item.clicked:focus, .list-group-item.clicked:hover {
color: white;
background:black;
}

.ref.col-xs-5 {
	padding: 2px;
}

.details {
	margin-left: 35px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}
